.button {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button__text {
    padding-left: 10px;
    padding-top: 2px;
}

.button__svg {
    padding-left: 10px;
    padding-top: 2px;
}